*{
    margin :0;
    padding :0;
    box-sizing: border-box;
}
html,body{
    height:100%;
    width: 100%;
    background-image: url(front\ image.jpg);
    background-size: cover;
    background-position: center;
}
.form{
    
}
.container{
    height:100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}
.main-container{
    height: 100%;
    width: 70%;
}
.form-btn{
    display: flex;
    justify-content: space-between;
}
.User-Container{
    width : 750px;
    height :250px;
    background-color: rgba(0, 0, 0, 0.297);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    /* justify-content: center; */
    /* align-items: center; */

}
.userDetails{
    width: 150px;
    height :40px;
    background-color: white;
    color: black;
    text-align: center;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;

}
button{
   margin-top:5px;
   padding:5px 10px;
   background-color:red;
   color:white;
   border:none;
   cursor:pointer;
}